* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Body and layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form layout */
#task-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 12px;
    width: 75%;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #4CAF50;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Task List */
.task-list {
    margin-top: 20px;
}

.task-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.task-item:hover {
    transform: translateY(-5px);
}

.task-item p {
    font-size: 16px;
    margin-right: 15px;
    flex-grow: 1;
}

.task-time {
    font-size: 12px;
    color: #777;
    margin-right: 15px;
}

.task-actions {
    display: flex;
    align-items: center;
}

.task-actions button {
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

.task-actions button.edit {
    background-color: #ffa500;
    color: white;
}

.task-actions button.delete {
    background-color: #f44336;
    color: white;
}

.task-actions button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.task-actions button.edit:hover {
    background-color: #ff8c00;
}

.task-actions button.delete:hover {
    background-color: #e53935;
}

.task-actions button:active {
    transform: scale(0.98);
}

/* Responsive Design */
@media (max-width: 768px) {
    #task-form {
        flex-direction: column;
    }
    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
    }
    .task-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .task-actions {
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
    }
}
