.btn{
    position: absolute;
    left: 45%;
    top: 50%;
    width: 250px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}
.pop{
    position: absolute;
    left: 40%;
    top: 30%;
    width: 250px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
}