* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#f7f4ed;
    color: #191919;
    font-family: 'Georgia', serif;
}

header {
    position: sticky;
    top: 0;
    background-color:#f7f4ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 1px black solid; 
}


.logo {
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Georgia', serif;
    color: #191919;
    padding-left: 89px;
}
 
nav{
    padding: 20px 0;
    margin-right: 50px;
}
nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #191919;
    font-weight: 500;
}

.get-btn {
    background-color: #191919;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}

.main-content{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px #191919 solid;
}

.text-content{
    padding: 60px;
}

.ideas{
    font-size: 100px;
    line-height:110px;
    padding-bottom: 30px;
}

.text-content p{
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
    padding-bottom: 40px;
}


.start-reading-btn{
    font-size: 30px;
    font-weight: 300;
    width: 200px;
    height: 50px;
    background-color: #191919;
    color: #fff;
    padding: 10px 20px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 40px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color:#6b6b6b;
    margin: 0 10px;
}